
#container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: white;
    border:solid 2px rgb(63,41,51);
    padding:10px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 2px #242424; 
    max-width:500px;
}
#container figure{
    flex:0 0 100%;
    text-align:center;
}
#container button{
    flex:0 0 auto;
}
#pop-up{
    width:400px;
    padding:10px;
    background-color: rgb(63,41,51);
    color:white;
    border:solid 1px black;
    box-shadow:0px 0px 5px yellow, 5px 5px 5px black;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    /*
    animate this opacity property
    from 0 to 1    
    */
    opacity:0;
    /* 
    ensure pointer events will go 'through' this section tag 
    since it might  otherwise overlap the buttons and make them unclickable
    */
    pointer-events: none;

    z-index:1000;
}
#btn-close{
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bold;
    background-color :rgb(189,160,106); 
    color:inherit;
    border:solid 2px white;
    cursor:pointer;
    /* ensure pointer events will apply to the button */
    pointer-events: all;
}
#btn-close:hover{
    background-color: rgb(63,41,51);
    border-color:var(--second-color);
}


.congrats {
    position: absolute;
    top: 140px;
    width: 550px;
    height: 100px;
    padding: 20px 10px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

   
  label{
    color: rgb(255, 255, 255);
    transform-origin: 50% 50%;
    font-size: 20px;
    font-family: 'Sigmar One', cursive;
    cursor: pointer;
    z-index: 0;
    position: absolute;
    margin: auto;
    top: 0;
    text-align: right;
    width: 80%;
  }
  .blob {
    height: 50px;
    width: 50px;
    color: #ffcc00;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    font-size: 30px;
    display: none;  
  }
    