@charset "utf-8";
@import url("font.css");
@import "mixins.scss";

html{
    font-size:16px;
    box-sizing: content-box;
}
*, *:before, *:after {
    box-sizing: inherit;

}


/*--Html Element Sector--*/
h1, h2, h3, h4, h5, h6{
    font-family: 'MadimiOne-Regular';
    letter-spacing:1px;
}
.btn{
 
  @include rounded-shaded-box(8px, 8px, 8px, rgb(190, 38, 38));
  padding: 0;
  color: rgb(245, 245, 245);
  font-weight: 1000;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  width: 250px;
  height: 100px;
  text-align: center;
  // top: 20px;
  // left: 40px;
  position: relative;
  border: 3px solid #555;
  border-radius: 26px;
  transition-duration: 60s;
  background-image: url('../images/button.png');
  background-size: cover;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
 
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before{
  content:'';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}
// .logo{
//   font-size: 2rem;
//   color: #fff;
//   text-decoration: none;
//   font-weight: 700;
// }
.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}
.icons{
  font-size: 2.8rem;
  right: 5%;
  color: #fff;
  cursor: pointer;
  display: none;

}
@media(max-width:800px){
  .header{
    padding: 1.3rem 5%;
  }
}
@media (max-width:768px){
  .icons{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 17.7rem;
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(50px);
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
  }
  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
  }
}
body {
  /* background-image: url(`images/back.jpg`); */
  background-image:url('../images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    align-items: center;
    /* background: #d32c2c; */
    padding: 0em;
    
   margin: 0;
  }


#wrapper {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dice-area{
  margin: 0px 50px;
  text-align: center;
  display: inline-block;
}
p{
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}
 img{
  width: 100px;
 }
.bordered{
  border:solid 2px black;
  border-radius:90px;                
}

h2{
    text-align: left;
    margin:20px 20px;
   /* text-decoration: underline; */
}

p{
    margin:25px 30px;
}
#decoration{
  /* text-decoration: underline; */
  background-color: aquamarine;
 border: solid;
border-style: groove;
font-weight: bold;
}


img.rounded_corners{
  border-radius: 50px;
  border:double;
  border-color: #6621c7;

}

th{

  background-color: rgba(0, 3, 44, 0.15);
  /* border-radius: 9px; */
  padding: 6px;
  border: double;
  border-radius: 40px;

}
h3{
   
   font-weight:bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  text-align: left;
  margin: 20px 20px;
  
}
h1{
    
   color: rgb(255, 255, 255);
 
}
section{
   color: #fff;
   font-size: large;
   font-weight: bold;

  //  border: dotted;  
  //  border-color: black;
    border-radius:10px;
    padding:5px;
    margin:10px 10px;
}
.ColumnMargin{
   border: solid;  
   border-color:rgb(202, 198, 198);
    border-radius:10px;
    padding:5px;
    margin:20px 10px;

}
.pictureBorder {
  border: solid;
  border-color: black;
  border-radius:10px;
  padding:5px;
  margin:10px 10px;
  background-color: white;
}
section{display: block;}

 figure,img{
  
  max-width: 100%;
  max-height: 100%;
 }
b{
    font-family: Arial, Helvetica, sans-serif;
}
#totalScore{
  @include rounded-shaded-box(10px, 10px, 10px, rgb(246, 239, 239));
  border: #ffffff;
  border-top: 1.8px solid #5f5f5f99;
  border-bottom: 1px solid #5f5f5f99;
  box-shadow:  inset 0 0 0 2px black,
               inset 0 0 0 2px grey;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.grid-container {
  display: flex;
  // @include rounded-shaded-box(20px, 20px, 20px, rgb(246, 239, 239));
  z-index: 2;
  position: absolute;
  margin: center;
  top: 35%;
  left: 25%;
  right: 15%;
  text-align: center;
  border: #6621c7;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  // -webkit-backdrop-filter: blur(50px);
  // backdrop-filter: blur(50px);
  grid-area: auto;
  }
  @media (max-width: 760px) {
    #wrapper {
      min-height: 150vh;
      
  }
 
  body {
    /* background-image: url(`images/back.jpg`); */
    background-image:url('../images/back.jpg');
    background-repeat: no-repeat;
    background-size: 300vh;
    background-position: center;
      align-items: center;
      /* background: #d32c2c; */
      padding: 0em;
      color: #fff;
     margin: 0;
    }
  }
@media (max-width: 43.75em) {
    .grid-container {
        grid: none;
    }
    
}

  /*Slidshow column */
  .gridbox{
    display: grid;
    grid-template-columns: 1fr;
    }
    .gridboxed{
        display: grid;
        grid-gap:20px;
        grid-template-columns: 1fr;
    }
    .flexboxed{
        display: flex;
        flex-direction: column;
    }
    .gridboxed section, .flexboxed section{
        margin:0px;
    }
   
      .articles {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 100px);
        margin: 0 auto;
        max-width: 1200px;
      }
      
      .article {
        align-items: center;
        background: #fff;
        margin:10px 10px;
        border: solid;
        box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12);
          display: flex;
        justify-content: center;
      }
      
      /* div{
        display: block;
      } */
      /* warning message ...... */
      *{
      
        box-sizing:border-box;
      }
    
      .content{
        display: flex;
        align-items:center;
        
      }

.important{/* outline and highlight important stuff */
  padding: 16px;
  background-color: rgba(255,255,0,.15);
  border-radius: 9px;
  border:solid 1px black;;    
  box-shadow: 0px 0px 0px 4px var(--main-color); 
}


  



.box-row {
  display: flex;
  max-width: 300px;
}

.box , .not_box{
  flex: 1;
  margin-right: 6px;
  background-color: var(--main-color-transparent);
  border: 2px solid var(--main-color);
  position: relative;   
  
}

.box:last-child {
  margin-right: 0;
}
.box:before {
  content: "";
  display: block;
  padding-top: 100%;
}
/* #message p {
  padding: 10px 35px;
  font-size: 18px;
} */

/*tooltip Box*/
.con-tooltip {
  flex:0 0 75%;
  margin:3px;
  padding:1px;
  /* border-radius:5px; */

  width: 80%;

  position: relative;
  /* background: #F2D1C9; */
/*   
  border-radius: 9px;
  padding: 10px 50px;
  margin: 1px; */
  
  display: inline-block;
  
  transition: all 0.3s ease-in-out;
  cursor: default;

}




@keyframes odsoky {
  0%{
    transform: translateY(6px); 
  }

  100%{
    transform: translateY(1px); 
  }

}
/* Images show */
.show {
  width: 100px;
  height: 400px;
}

.small-img {
  width: 350px;
  height: 70px;
  margin-top: 10px;
  position: relative;
  left: 25px;
}

.small-img .icon-left, .small-img .icon-right {
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.small-img .icon-left { transform: rotate(180deg) }

.small-img .icon-right { right: 0; }

.small-img .icon-left:hover, .small-img .icon-right:hover { opacity: .5; }

.small-container {
  width: 310px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.small-container div {
  width: 800%;
  position: relative;
}

.small-container .show-small-img {
  width: 70px;
  height: 70px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}

.small-container .show-small-img:last-of-type { margin-right: 0; }



/* Accordion */
.accordion h2{
  color:rgb(245, 245, 245); 
}
.accordion {
  padding: 8px;
  border: 1px solid #353535;
  max-width: 750px;
 
  margin: 0 auto;
}
.accordion .tab {
  background-color:rgb(215,114,124);
  border-bottom: 1px solid #004d57;
  padding: 8px 16px;
  cursor: pointer;
}

.pane:first-of-type .tab {
  border-top: 1px solid #1ab0c4;
}

.accordion .tab.open {
  border-bottom: none;
}

.accordion h2, 
.accordion p {
  margin: 0;
}

.accordion .tab h2 {
  line-height: 1;
}
.content1 {
  background-color: #1ab0c4;
  width: 50%;
  border-radius: 20px;
  align-items: center;
  right: 50%;
  padding: 10px 8px;
  /* display: none; */
}

.content img {
  margin-bottom: 6px;
}
@media (min-width: 520px){
  .pg-accordion .content1 {
      display: flex;
      align-items: flex-start;
  }
  
  .content1 img {
      max-width: 200px;
      margin-right: 12px;
  }
  .lightbox-image-container {
      grid-template-columns: 1fr 1fr 1fr;
  }
}
// @import url("header.scss");
.top:hover {transform: translateY(-6px);  }

    @media (min-width:600px){
        .gridboxed{
            grid-template-columns: 1fr 1fr;
        }
        .flexboxed{        
            flex-direction: row;
        }
    }
    